<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Principal.css">
    <title>Burger Taco</title>
</head>

<body>

    <div class="container-fluid Header"></div>

    <div class="container-fluid Menu">

        <div class="row">
            <div class="col-md-12">
                <!-- <br /> -->
                <h1 class="Antojo">¿De que Tienes Antojo?</h1>
            </div>
        </div>

        <br />

        <div class="row">

            <div class="col-md-4">
                <img src="./Hamburguesa.png" class="Hamburguesa">
            </div>

            <div class="col-md-4">
                <img src="./Tacos.png" class="Tacos">
            </div>

            <div class="col-md-4">
                <img src="./Papa.png" class="Papa">
            </div>

        </div>

        <div class="row">

            <div class="col-md-4">
                <h5 class="Derecha">Hamburguesa</h5>
            </div>

            <div class="col-md-4">
                <h5 class="Centro">Tacos</h5>
            </div>

            <div class="col-md-4">
                <h5 class="Izquierda">Papa Asada</h5>
            </div>

        </div>

        <br />

        <div class="row">

            <div class="col-md-4 radioHamburguesa">

                <div class="radio">
                    <label><input type="radio" name="Comida" value="Hamburguesa"></label>
                </div>

            </div>

            <div class="col-md-4 radioTacos">

                <div class="radio">
                    <label><input type="radio" name="Comida" value="Tacos"></label>
                </div>

            </div>

            <div class="col-md-4 radioPapa">

                <div class="radio">
                    <label><input type="radio" name="Comida" value="Papa"></label>
                </div>

            </div>

        </div>

    </div>

    <div class="container-fluid Bebidas">

        <div class="row">
            <div class="col-md-12">
                <!-- <br /> -->
                <h1 class="Antojo">¿Que Deseas Tomar?</h1>
            </div>
        </div>

        <br />

        <div class="row">

            <div class="col-md-4">
                <img src="./Coca.png" class="Hamburguesa">
            </div>

            <div class="col-md-4">
                <img src="./Sabor.png" class="Tacos">
            </div>

            <div class="col-md-4">
                <img src="./Natural.png" class="Papa">
            </div>

        </div>

        <div class="row">

            <div class="col-md-4">
                <h5 class="Derecha">Refresco de Cola.</h5>
            </div>

            <div class="col-md-4">
                <h5 class="Centro">Refresco de Sabor</h5>
            </div>

            <div class="col-md-4">
                <h5 class="Izquierda">Agua Natural</h5>
            </div>

        </div>

        <br />

        <div class="row">

            <div class="col-md-4 radioHamburguesa">

                <div class="radio">
                    <label><input type="radio" name="Bebidas" value="Coca"></label>
                </div>

            </div>

            <div class="col-md-4 radioTacos">

                <div class="radio">
                    <label><input type="radio" name="Bebidas" value="Sabor"></label>
                </div>

            </div>

            <div class="col-md-4 radioPapa">

                <div class="radio">
                    <label><input type="radio" name="Bebidas" value="Natural"></label>
                </div>

            </div>

        </div>

    </div>

    <div class="container-fluid Ordenar">

        <div class="row">
            <div class="col-md-12">
                <br>
                <button type="button" class="btn btn-success btn-block">¡Ordenar Ya!</button>
                <br>
            </div>
        </div>

    </div>

</body>

</html>