.Header {
    background-image: url(./Header_Titulo.png);
    background-repeat: no-repeat;
    background-size: 1358px 450px;
    width: 1340px;
    height: 450px;
}

.Menu {
    background-color: #4C4C4C;
    background-size: 1340px 450px;
    width: 1340px;
    height: 450px;
}

.Bebidas {
    background-color: gray;
    background-size: 1340px 450px;
    width: 1340px;
    height: 450px;
}

.Ordenar {
    background-color: lightgray;
    background-size: 1340px;
    width: 1340px;
}

.Antojo {
    padding-top: 20px;
    text-align: center;
    align-content: center;
    color: greenyellow;
    -webkit-text-stroke: 2px black;
    font-style: italic;
}

.Hamburguesa {
    width: 250px;
    height: 250px;
    float: right;
}

.Tacos {
    width: 250px;
    height: 250px;
    display: block;
    margin: auto;
}

.Papa {
    width: 250px;
    height: 250px;
    float: left;
}

h5 {
    font-size: x-large;
    text-align: center;
    align-content: center;
    color: white;
    -webkit-text-stroke: 1px black;
}

.Derecha {
    padding-left: 40%;
}

.Centro {
    display: block;
    margin: auto;
}

.Izquierda {
    padding-right: 40%;
}

.radioHamburguesa {
    padding-left: 22%;
    width: 60px;
    height: 60px;
}

.radioTacos {
    padding-left: 16.5%;
}

.radioPapa {
    padding-left: 11%;
}